<!DOCTYPE html>
<html ng-app="devfest">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>GDG DevFest Karlsruhe 2017</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="theme-color" content="#00897B">
    <link rel="shortcut icon" type="image/x-icon" href="http://www.devfestka.de/assets/favicon.ico">
    <link rel="stylesheet" type="text/css" href="./index_files/fontello.css">
    <link rel="stylesheet" type="text/css" href="./index_files/libs.min.css">
    <link rel="stylesheet" type="text/css" href="./index_files/app.min.css">
    <link rel="manifest" href="./manifest.json">
    <script type="text/javascript" src="script.js"></script>
</head>
<body cz-shortcut-listen="true">
<header>
    <div class="container">
        <object class="banner" data="./index_files/devfest-banner.svg" type="image/svg+xml"></object>
        <nav class="header-nav">
            <a href="#">Home</a>
        </nav>
    </div>
</header>
<main id="content"><!-- ngView:  -->
    <div ng-view="" class="fade ngview" autoscroll="">
        <div class="schedule"><h1>Programm</h1>
            <p>Das Programm steht! Da sich kurzfristig Änderungen ergeben können, empfehlen wir, regelmäßig vorbei zu
                schauen.</p>
            <p>Alle Räumlichkeiten sind barrierefrei erreichbar.</p>
            <p>TBA - to be announced.</p>
            <h2 class="date">09. December 2017</h2>
            <section class="schedule-day tracks-3">
                <div class="timeslot" itemtype="http://schema.org/subEvent" time-anchor="2017-12-09T08:00">
                    <div class="timeslot-label">
                        <time itemprop="startDate" datetime="08:00">08:00</time>
                        <time itemprop="endDate" datetime="09:15">09:15</time>
                    </div>
                    <div class="timeslot-items">
                        <div class="timeslot-item single"
                             ng-click="showDetails('id_3a7a1ac555c93b9b5bf5f1c9a131da032cea7be9')">
                            <div class="timeslot-item__content"><h1>Anmeldung <span class="timeslot-item__lang"></span>
                            </h1>
                                <div class="room"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeslot" itemtype="http://schema.org/subEvent" time-anchor="2017-12-09T08:45">
                    <div class="timeslot-label">
                        <time itemprop="startDate" datetime="08:45">08:45</time>
                        <time itemprop="endDate" datetime="09:15">09:15</time>
                    </div>
                    <div class="timeslot-items">
                        <div class="timeslot-item single"
                             ng-click="showDetails('id_d954d7043f0040f9fd5a920efa02c34539360ba2')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color0"></div>
                                <h1>Begrüßung <span class="timeslot-item__lang">de</span></h1><span class="speaker">GDG Karlsruhe</span>
                                <div class="room">Audimax</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeslot" itemtype="http://schema.org/subEvent" time-anchor="2017-12-09T09:15">
                    <div class="timeslot-label">
                        <time itemprop="startDate" datetime="09:15">09:15</time>
                        <time itemprop="endDate" datetime="10:15">10:15</time>
                    </div>
                    <div class="timeslot-items">
                        <div class="timeslot-item single"
                             ng-click="showDetails('id_fbd4e4e98ed0eb6f06bb4f7cbd69a32895fc550d')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color0"></div>
                                <h1>(Keynote) Google Assistant und Alexa – Die Power der nächsten App-Plattform nutzen
                                    <span class="timeslot-item__lang">de</span></h1><span class="tags"><span
                                    class="tag">AI</span></span> <span class="speaker">Aydin Mir Mohammadi</span>
                                <div class="room">Audimax</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeslot" itemtype="http://schema.org/subEvent" time-anchor="2017-12-09T10:15">
                    <div class="timeslot-label">
                        <time itemprop="startDate" datetime="10:15">10:15</time>
                        <time itemprop="endDate" datetime="10:45">10:45</time>
                    </div>
                    <div class="timeslot-items">
                        <div class="timeslot-item single"
                             ng-click="showDetails('id_34378982faabcdb3aad71f93e9ab71bd1ffdac23')">
                            <div class="timeslot-item__content"><h1>Kaffeepause <span
                                    class="timeslot-item__lang"></span></h1>
                                <div class="room"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeslot" itemtype="http://schema.org/subEvent" time-anchor="2017-12-09T10:45">
                    <div class="timeslot-label">
                        <time itemprop="startDate" datetime="10:45">10:45</time>
                        <time itemprop="endDate" datetime="11:45">11:45</time>
                    </div>
                    <div class="timeslot-items">
                        <div class="timeslot-item"
                             ng-click="showDetails('id_2ecc46a4c6edb541649e688e11ad5637473c328d')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color0"></div>
                                <h1>State of the art State Management in Angular Apps <span class="timeslot-item__lang">de</span>
                                </h1><span class="tags"><span class="tag">Web</span></span> <span class="speaker">Christian Janz</span>
                                <div class="room">Audimax</div>
                            </div>
                        </div>
                        <div class="timeslot-item"
                             ng-click="showDetails('id_8d084f23cdfbd3ee79470a9f2a1b56b033bc7012')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color1"></div>
                                <h1>Microservices - Beyond the monolith <span class="timeslot-item__lang">de</span></h1>
                                <span class="tags"><span class="tag">Infrastructure</span></span> <span class="speaker">Iunera GmbH</span>
                                <div class="room">Room 1</div>
                            </div>
                        </div>
                        <div class="timeslot-item"
                             ng-click="showDetails('id_73d9e6cb154940b04d4072129765f3aeccdf0e6b')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color2"></div>
                                <h1>IoT devices with Android Things <span class="timeslot-item__lang">en</span></h1>
                                <span class="tags"><span class="tag">AI</span></span> <span class="speaker">Wolfram Rittmeyer</span>
                                <div class="room">Room 2</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeslot" itemtype="http://schema.org/subEvent" time-anchor="2017-12-09T11:45">
                    <div class="timeslot-label">
                        <time itemprop="startDate" datetime="11:45">11:45</time>
                        <time itemprop="endDate" datetime="12:45">12:45</time>
                    </div>
                    <div class="timeslot-items">
                        <div class="timeslot-item"
                             ng-click="showDetails('id_4e4babf85e3b84e66f2c68bda82a24f071fc0928')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color0"></div>
                                <h1>API-Design - Dos and Don'ts <span class="timeslot-item__lang">de</span></h1><span
                                    class="tags"><span class="tag">Web</span></span> <span class="speaker">Jochen Kraushaar</span>
                                <div class="room">Audimax</div>
                            </div>
                        </div>
                        <div class="timeslot-item"
                             ng-click="showDetails('id_1b2fd7e2ac986de9ee0c1230d3eca6b01c8b313b')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color1"></div>
                                <h1>Prometheus - Monitoring in a containerized world <span class="timeslot-item__lang">de</span>
                                </h1><span class="tags"><span class="tag">Infrastructure</span></span> <span
                                    class="speaker">Andreas Jägle</span>
                                <div class="room">Room 1</div>
                            </div>
                        </div>
                        <div class="timeslot-item"
                             ng-click="showDetails('id_85e0f755fe566d667f52794c183980bfeb9b6ffd')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color2"></div>
                                <h1>Collaborative Data Science in the Google Cloud <span
                                        class="timeslot-item__lang">en</span></h1><span class="tags"><span class="tag">Cloud</span></span>
                                <span class="speaker">Alexander C. S. Hendorf</span>
                                <div class="room">Room 2</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeslot" itemtype="http://schema.org/subEvent" time-anchor="2017-12-09T12:45">
                    <div class="timeslot-label">
                        <time itemprop="startDate" datetime="12:45">12:45</time>
                        <time itemprop="endDate" datetime="13:45">13:45</time>
                    </div>
                    <div class="timeslot-items">
                        <div class="timeslot-item single"
                             ng-click="showDetails('id_46b63896eaddb11c80164967a4d8207115e1d5e3')">
                            <div class="timeslot-item__content"><h1>Mittagspause <span
                                    class="timeslot-item__lang"></span></h1>
                                <div class="room"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeslot" itemtype="http://schema.org/subEvent" time-anchor="2017-12-09T13:45">
                    <div class="timeslot-label">
                        <time itemprop="startDate" datetime="13:45">13:45</time>
                        <time itemprop="endDate" datetime="14:45">14:45</time>
                    </div>
                    <div class="timeslot-items">
                        <div class="timeslot-item"
                             ng-click="showDetails('id_d3304a67a6a36e8929f90eae8b7828295f6e74db')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color0"></div>
                                <h1>Building a scalable CSS-only slideshow in 1024 Bytes <span
                                        class="timeslot-item__lang">en</span></h1><span class="tags"><span class="tag">Web</span></span>
                                <span class="speaker">Matthias Reuter</span>
                                <div class="room">Audimax</div>
                            </div>
                        </div>
                        <div class="timeslot-item"
                             ng-click="showDetails('id_06bbcb310b59d92eda5bc1413a1eae05cdeb2f41')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color1"></div>
                                <h1>Securing your Kubernetes cluster <span class="timeslot-item__lang">de</span></h1>
                                <span class="tags"><span class="tag">Infrastructure</span></span> <span class="speaker">Johannes M. Scheuermann</span>
                                <div class="room">Room 1</div>
                            </div>
                        </div>
                        <div class="timeslot-item"
                             ng-click="showDetails('id_77d92c03296984faf05222a54e9e009bc022715e')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color2"></div>
                                <h1>Chatbots, vom Design zum Prototypen mit Dialogflow &amp; Cloud Functions for
                                    Firebase <span class="timeslot-item__lang">de</span></h1><span class="tags"><span
                                    class="tag">Cloud</span></span> <span class="speaker">Johannes Tischer</span>
                                <div class="room">Room 2</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeslot" itemtype="http://schema.org/subEvent" time-anchor="2017-12-09T14:45">
                    <div class="timeslot-label">
                        <time itemprop="startDate" datetime="14:45">14:45</time>
                        <time itemprop="endDate" datetime="15:45">15:45</time>
                    </div>
                    <div class="timeslot-items">
                        <div class="timeslot-item"
                             ng-click="showDetails('id_64b6faaaab7169914d943b82a4ae0a6097f25d6b')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color0"></div>
                                <h1>Progressive Web Apps &amp; Service Worker: Magisches Duo oder über-hyptes
                                    Buzzword-Bingo? <span class="timeslot-item__lang">de</span></h1><span
                                    class="tags"><span class="tag">Web</span></span> <span
                                    class="speaker">Steffen Jahr</span>
                                <div class="room">Audimax</div>
                            </div>
                        </div>
                        <div class="timeslot-item"
                             ng-click="showDetails('id_ee8ec7d9509a6409a1f93e59bbfd5c3f000fab52')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color1"></div>
                                <h1>Kotlin für Android-Entwickler <span class="timeslot-item__lang">de</span></h1><span
                                    class="tags"><span class="tag">Android-Apps</span></span> <span class="speaker">Daniel Bälz</span>
                                <div class="room">Room 1</div>
                            </div>
                        </div>
                        <div class="timeslot-item"
                             ng-click="showDetails('id_9d5937adae1ca788fb54773588e6ed186d06a79b')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color2"></div>
                                <h1>DeepLearning with Tensorflow. <span class="timeslot-item__lang">en</span></h1><span
                                    class="tags"><span class="tag">Cloud</span></span> <span class="speaker">Sergii Khomenko</span>
                                <div class="room">Room 2</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeslot" itemtype="http://schema.org/subEvent" time-anchor="2017-12-09T15:45">
                    <div class="timeslot-label">
                        <time itemprop="startDate" datetime="15:45">15:45</time>
                        <time itemprop="endDate" datetime="16:15">16:15</time>
                    </div>
                    <div class="timeslot-items">
                        <div class="timeslot-item single"
                             ng-click="showDetails('id_34378982faabcdb3aad71f93e9ab71bd1ffdac23')">
                            <div class="timeslot-item__content"><h1>Kaffeepause <span
                                    class="timeslot-item__lang"></span></h1>
                                <div class="room"></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeslot" itemtype="http://schema.org/subEvent" time-anchor="2017-12-09T16:15">
                    <div class="timeslot-label">
                        <time itemprop="startDate" datetime="16:15">16:15</time>
                        <time itemprop="endDate" datetime="17:15">17:15</time>
                    </div>
                    <div class="timeslot-items">
                        <div class="timeslot-item"
                             ng-click="showDetails('id_1c84f519e2397471f61bc7e4e379a15de734b146')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color0"></div>
                                <h1>Clean Architecture in Webanwendungen mit HATEOAS <span class="timeslot-item__lang">de</span>
                                </h1><span class="tags"><span class="tag">Web</span></span> <span class="speaker">Aydin Mir Mohammadi</span>
                                <div class="room">Audimax</div>
                            </div>
                        </div>
                        <div class="timeslot-item"
                             ng-click="showDetails('id_e97f8a6c11b6255081327bd92e1f7e95129fa32d')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color1"></div>
                                <h1>Docker - Beyond Applications &amp; Services <span
                                        class="timeslot-item__lang">en</span></h1><span class="tags"><span class="tag">Infrastructure</span></span>
                                <span class="speaker">Florian Barth</span>
                                <div class="room">Room 1</div>
                            </div>
                        </div>
                        <div class="timeslot-item"
                             ng-click="showDetails('id_f408a8345b6abd00afa35ee3308a7fa1416b7ba1')">
                            <div class="timeslot-item__content">
                                <div class="colorstrip color2"></div>
                                <h1>AR Game Development - Live Coding Session <span
                                        class="timeslot-item__lang">en</span></h1><span class="tags"><span class="tag">Ar / VR</span></span>
                                <span class="speaker">Christian Grail</span>
                                <div class="room">Room 2</div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="timeslot" itemtype="http://schema.org/subEvent" time-anchor="2017-12-09T17:15">
                    <div class="timeslot-label">
                        <time itemprop="startDate" datetime="17:15">17:15</time>
                        <time itemprop="endDate" datetime="20:00">20:00</time>
                    </div>
                    <div class="timeslot-items">
                        <div class="timeslot-item single"
                             ng-click="showDetails('id_f8c896adee540ff9437d5bd71eb793c3d7ebb8fe')">
                            <div class="timeslot-item__content"><h1>DevFest After Party <span
                                    class="timeslot-item__lang"></span></h1>
                                <div class="room"></div>
                            </div>
                        </div>
                    </div>
                </div>
            </section>
            <h2>Workshop: Angular 5 Tutorial</h2>
            <p>ngGirls Workshop 9:00 - 17:00 Dieses Jahr haben wir die Ehre einen ngGirls Workshop bei uns auf dem GDG
                DevFest Karlsruhe 2017 zu hosten. Der ganztägige Workshop ist frei für jedermann, der mehr in die Welt
                der Webentwicklung --gezielt mit Angular5 -- eintauchen wollen. ngGirls steht hierbei gezielt für
                Diversity und für mehr Frauen in der IT. Dennoch sind natürlich Frauen UND Männer eingeladen an dem
                Workshop teilzunehmen. Mehr Informationen und um sich für den Workshop zu registrieren <a
                        href="http://ng-girls.org/karlsruhe">hier zum Anmelden klicken</a> </p>
            <p>ngGirls Workshop 9:00 - 17:00 We're thrilled to host an ngGirls workshop at GDG DevFest 2017. The
                full-day workshop is free for men and women to attend and aims to introduce everyone to developing web
                applications and to increase diversity in the industry. For more information about the workshop and to
                apply for a place, <a href="http://ng-girls.org/karlsruhe">click here to register</a>.
                share the love: tell a friend or colleague about workshop!</p>
            <p></p></div>
    </div>
    <div class="clear"></div>
    <noscript>This page requires JavaScript. Please enable it for this page.</noscript>
</main>
<footer>
    <div class="footer-container"><h2 class="footer-header">Kontakt</h2>
        <ul class="footer-linklist">
            <li><a href="mailto:devfestkarlsruhe@gmail.com">devfestkarlsruhe@gmail.com</a></li>
        </ul>
    </div>
</footer>
</body>
</html>
